@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Zilla+Slab:wght@300;400;600;700&display=swap');

:root{
  --rosado:#fe3281;
  --beige: #fff9f1;
  --blanco: #ffffff;
  --negro: #000000;
  --amarillo: #ffe8a4;
  --margen_izquierdo: 15px;
  --tipografiagruesa: 'Oswald', sans-serif;
  --tipografiadelgada: 'Zilla Slab', serif;

}
*{
  box-sizing: border-box;

}
/* article
  picture
    border 1px red solid
 */
body{
  font-family: 'Zilla Slab', serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  background-color: var(--blanco);
}
.ancho{
  max-width: 1200px;
  margin:auto;
  align-items: center;
  /* border:1px red solid; */
}
header{
  background-color: var(--beige);
  border-top: 15px var(--rosado) solid;
  padding-bottom: 20px;
}
.contenedor_cabecera{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
}
.contenedor_cabecera picture{
  width: 200px;
}
.contenedor_cabecera picture img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.iconosredes{
  /* flex-grow: 1;
  text-align:right; */
}
.iconosredes a{
  margin-right:30px;
  text-decoration:none;
  color:var(--negro);
  display: inline-block;
  transition: all .5s ease;
}
.iconosredes a:hover{
  color: var(--rosado);
}
.iconosredes a i{
  font-size:50px;
}
.contenedor_menu{
  list-style: none;
  margin: 0 15px;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: stretch;
  border: 2px var(--negro) solid;
}
.alineacion{
  width: 250px;
}
.contenedor_iconomenu{
  display:none;
  text-align: center;
}
#iconomenu{
  padding:10px;
  border-radius: 5px;
  background-color: var(--rosado);
  color: var(--blanco);
  font-size: 16px;
}
/* .contenedor_menu li{
} */
.contenedor_menu li a{
  font-family: var(--tipografiagruesa);
  display: inline-block;
  padding:10px 15px;
  text-decoration: none;
  color:var(--negro);
  text-transform:uppercase;
  transition: all 0.5s ease;
}
.contenedor_menu li a:hover{
  color:var(--rosado);
}
.slidefotos{
  height:400px;
  position: relative;
}
.infoslide{
  position:absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: var(--blanco);
  width: 100%;
}
.infoslide h1{
  font-family:var(--tipografiadelgada);
  font-weight:700;
}
.infoslide p{
  font-size: 20px;
  max-width: 400px;
  text-align: center;
  line-height:30px;
  font-weight: bold;
  padding: 10px;
}
.contenedorbotones{
  padding-top:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap: 20px;
}
.btn_rosado{
  background-color:var(--rosado);
  border: 2px var(--rosado) solid;
  color: var(--blanco);
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease;
  border-radius: 8px;
}
.btn_rosado:hover{
  background-color: var(--negro);
}
.btn_borde{
  background-color:transparent;
  border: 2px var(--rosado) solid;
  color: var(--blanco);
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  transition: all .5s ease;
  border-radius: 8px;
}
.btn_borde:hover{
  background-color: var(--negro);
}
.beauty{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:stretch;
  padding-top: 10px;
}
.beauty article{
  max-width:550px;
  padding: 10px;
}
.beauty p{
  line-height:30px;
}
/* .beauty picture{
} */
.beauty picture img{
  border:10px green solid;
  width:100%;
  height:100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px #ccc;
  /* filter:grayscale(100%) ; */
  /* filter:blur(20px); */
  /* filter:sepia(100%); */
  filter: opacity(25%);;
  transition: all 1s ease;
}
.beauty picture img:hover{
  /* filter: grayscale(0%); */
  /* filter:blur(0px); */
  filter:opacity(100%);
}
.buscamos{
  background-color:var(--beige);
}
.buscamos h2{
  text-align:center;
  padding-top: 30px;
}
.contenedor_buscamos{
  display:flex;
  justify-content:space-between;
  align-items:stretch;
}
.contenedor_buscamos picture{
  flex-grow: 1;
  padding: 20px 20px 20px 0px;
}
.contenedor_buscamos picture img{
  border-radius: 20px;
  width:100%;
  height:100%;
  object-fit: cover;
  filter: sepia(100%);
  transition: all .5s ease;
}
.contenedor_buscamos picture img:hover{
  filter: sepia(30%);
}
.contenedor_buscamos_info{
  max-width: 600px;
}
.puesto{
  font-weight: 700;
  margin-top:30px;
  font-size: 20px;
  padding-bottom: 0;
}
.servicios{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:stretch;
  flex-wrap: wrap;
}
.servicios article{
  max-width:350px;
  background-color: var(--amarillo);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  margin: 10px;
}
.servicios picture{
  max-width:200px;
  overflow: hidden;
  border:10px var(--blanco) solid;
  border-radius: 50%;
  box-shadow:0px;
  transition: all .5s ease;
}
.servicios picture img{
  width:100%;
  height:100%;
  transition: all .5s ease;
}
.servicios picture:hover{
  box-shadow:0px 0px 20px #ffe8a4;
}
.servicios picture:hover img{
  transform:scale(1.2);
}
footer{
  border-bottom: 15px var(--rosado) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
footer a{
  color:var(--rosado);
  text-decoration:none;
  padding-bottom: 10px;
  font-size: 18px;
  transition: all .5s ease;
}
footer a:hover{
  color: var(--negro);
}
/* css slide fotos */
.slide_fotos{
  position: relative;
}
.infoslide{
  height:400px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: var(--blanco);
}
/* css del slide de fotos */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height:100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  height:400px;
  object-fit: cover;
  border: 0;
  }
  .titulo_instalaciones{
    text-align: center;
  }
  .instalaciones{
    display: grid;
    grid-template-areas: "foto5 foto2 foto1 foto1" "foto4 foto3 foto1 foto1" ;
  }
  .instalaciones figure{
    width:100%;
    height:100%;
    margin: 0;
    overflow:hidden;
  }
  .instalaciones figure a{
    display:inline-block;
    transition:all .5s ease;
    height:100%;
  }
  .instalaciones figure a:hover{
    transform:scale(1.1);
    filter:brightness(.5);
  }
  .instalaciones figure img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  .foto1{
    grid-area: foto1;
  }
  .foto2{
    grid-area: foto2;
  }
  .foto3{
    grid-area: foto3;
  }
  .foto4{
    grid-area: foto4;
  }
  .foto5{
    grid-area: foto5;
  }
  .ir_arriba{
    position:fixed;
    z-index: 10;
    right:20px;
    bottom:20px;
    font-size: 40px;
    filter: drop-shadow(0px 0px 5px #999);
    color: var(--rosado);
    cursor: pointer;
  }